*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

img,
svg {
    vertical-align: middle;
}

a {
    text-decoration: none;
}


/* Убираем стандартный маркер Chrome */

details summary::-webkit-details-marker {
    display: none
}


/* Убираем стандартный маркер Firefox */

details>summary {
    list-style: none;
}

ul {
    list-style-type: none;
}